

.section {
  margin-bottom: 160px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 60px;
  text-align: left;
}



.NewsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  /* margin: 0 auto; */
  margin: 0px 15px 20px 40px;
}

.NewsItem {
  display: flex;
  align-items: flex-start; /* 写真とコンテンツを上揃えにする */
  gap: 20px; /* 写真とテキスト間のスペース */
}

.NewsText {
  display: flex;
  flex-direction: column;
}

.NewsText h3 {
  margin: 5px 0;
}

.NewsText p {
  margin: 5px 0;
  color: #666; /* 説明文の色を少し薄く */
}