

.section {
  margin-bottom: 160px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 60px;
  text-align: left;
}



.NewsContainer {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  gap: 20px; /* 各アイテムの間隔 */

  /* *** original here to *** */
  /* justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center; */
  /* margin: 0 auto; */
  /* margin: 0px 15px 20px 40px; */
  /* *** here *** */
}

.NewsItem {
  display: flex;
  flex-direction: row; /* 画像とテキストを横並びに */
  gap: 20px; /* 写真とテキスト間のスペース */
  align-items: center; /* 画像とテキストを縦方向に中央揃え */
}

.NewsItem img {
  max-width: 30%; /* 画像の幅を30%に設定 */
  object-fit: contain;
  /*height: auto;*/
}

.NewsContent {
  display: flex;
  flex-direction: column; /* 日付、タイトル、説明文を縦に並べる */
  justify-content: flex-start;
  gap: 10px; /* 各要素間にスペースを追加 */
}

.NewsDate {
  font-size: 14px;
  color: #fff;
  background-color: #160570;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px; /* 日付とタイトルの間にスペースを追加 */
}

.NewsTitle {
  margin: 0;
  font-size: 1.5rem;
}

.NewsItem p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.NewsText {
  display: flex;
  flex-direction: column;
}

.NewsText h3 {
  margin: 5px 0;
}

.NewsText p {
  margin: 5px 0;
  color: #666; /* 説明文の色を少し薄く */
}

.PresentationList {
  list-style-type: disc; /* 箇条書きスタイルをディスクに設定 */
  padding-left: 20px; /* 左のインデントを追加 */
  margin-top: 10px; /* 説明文とリストの間にスペースを追加 */
  color: #3b3a3a; /* 文字は灰色に */
}

.PresentationList li {
  margin-bottom: 5px; /* リストアイテム間のスペースを追加 */
  font-size: 1rem; /* リストアイテムのフォントサイズを指定 */
  line-height: 1.5; /* 行間の高さを指定 */
  color: #666; /* 文字は灰色に */
}

@media (max-width: 768px){
  .section{
    margin-bottom: 80px;
  }

  .section h2{
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
  }

  .NewsItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    order: 1;
  }

  .NewsItem img{
    max-width: 100%;
    height: auto;
    order: 3;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  .NewsTitle {
    font-size: 1.2rem;
  }

  .NewsItem p {
    font-size: 0.9rem;
    line-height: 1.4;
    order: 2;
  }

  .PresentationList {
    padding-left: 15px;
    margin-top: 5px;
    order: 4;
  }

  .PresentationList li{
    font-size: 0.9rem;
    margin-bottom: 3px;
  }

}