

.professor {
  background-color: #d8eefe;
  text-decoration: none;
  padding: 2% 2%;
  margin: 0px 2% 40px 2%;
}

.professorLink:hover {
  text-decoration: none; /* ホバー時も下線を消す */
}

.profInfo {
  display: flex;
  text-decoration: none;
  justify-content: center;
  gap: 6%;
  /* margin-top: 60px; */
  margin: 5% 5% 2% 5%;
  padding: 5%;
  background-color: #fff;
}

.profImage {
  position: relative;
  width: 200px;
  height: 250px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .professor {
    padding: 3% 4%;
    margin: 0px 3% 20px 3%;
  }

  .profInfo {
    display: block;
    margin: 5% 5%;
    padding: 5%;
  }

  .profImage {
    width: 100%;
    height: auto;
  }
}
