

.professor {
  background-color: #d8eefe;
  text-decoration: none;
  padding: 3% 6%;
  margin: 0px 5% 60px 5%;
}

.professorLink:hover {
  text-decoration: none; /* ホバー時も下線を消す */
}

.profInfo {
  display: flex;
  text-decoration: none;
  justify-content: center;
  gap: 6%;
  /* margin-top: 60px; */
  margin: 60px 14% 3% 14%;
  padding: 3%;
  background-color: #fff;
}

.profImage {
  position: relative;
  width: 200px;
  height: 250px;
}

